body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: center;    
}

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

#home .eventItem .date {
    color: #AAA;
}

#eventDetail .report {
    font-size: 24px;
}

#eventDetail .report span {
 	font-weight: bold;   
}

#event-has-past {
    font-size: 20px;
 	color: #AAA;   
}
